body {
    margin: 0;
    padding: 0;
    font-family: 'Rowdies', cursive;
    background: linear-gradient(92deg,#54bba5, #014637);
}

section {
    display: flex;
    justify-content: space-between;
}

.coinsHead {
    font-size: 35px;
    margin-left: 35px;
    color: antiquewhite;
}

.pointsHead {
    display: flex;
    justify-content:flex-end;
    font-size: 35px;
    margin-right: 35px;
    color: antiquewhite;
}

/* sklep */

.shop {
    float: left;
    width: 200px;
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
}

.shopH {
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: 35px;
    width: 350px;
    height: 70px;
    background: rgb(2, 97, 65);
    border-radius: 20px 20px;
}

.shopG {
    width: 350px;
    height: 400px;
    background: rgb(4, 134, 91);
    border-radius: 20px 20px;
    display: grid;
    grid-template-columns: 170px 170px;
}

.shopSelf {
    margin-left: auto;
    margin-right: auto;
}

/* sklep info */

.smokInfo {
    display: none;
}

.smok:hover ~ .smokInfo {
    display: block;
    width: 200px;
    height: 50px;
    background: rgb(1, 75, 50);
    border: 3px solid rgb(0, 51, 34);
    border-radius: 20px 20px;
    color: antiquewhite;
    padding: 5px;
    position: absolute;
}

.diabelInfo {
    display: none;
}

.monster1:hover ~ .diabelInfo {
    display: block;
    width: 200px;
    height: 50px;
    background: rgb(1, 75, 50);
    border: 3px solid rgb(0, 51, 34);
    border-radius: 20px 20px;
    color: antiquewhite;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-top: 5px;
    position: absolute;
}

.axeInfo {
    display: none;
}

.axe:hover ~ .axeInfo {
    display: block;
    width: 200px;
    height: 50px;
    background: rgb(1, 75, 50);
    border: 3px solid rgb(0, 51, 34);
    border-radius: 20px 20px;
    color: antiquewhite;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-top: 5px;
    position: absolute;
}

.skin1Info {
    display: none;
}

.skin1:hover ~ .skin1Info {
    display: block;
    width: 200px;
    height: 50px;
    background: rgb(1, 75, 50);
    border: 3px solid rgb(0, 51, 34);
    border-radius: 20px 20px;
    color: antiquewhite;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-top: 5px;
    position: absolute;
}


/* klikanie disa */
.disHead {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.disImg {
    width: 300px;
    height: 450px;
    border: 10px solid #001d17;
    border-radius: 10%;
    -webkit-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    cursor: pointer;
}

.disImg.hidden {
    display: none;
}

.dis1Img {
    display: none;
}

.dis1Img.show {
    display: block;
    width: 300px;
    height: 450px;
    border: 10px solid #001d17;
    border-radius: 10%;
    -webkit-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    cursor: pointer;
}

button {
    padding: 0;
    border-radius: 20px;
    background: #000;
    -webkit-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
}

/* zapisywanie */
.saveHead {
    margin-top: 15px;
    margin-left: 35px;
}

.cos {
    width: 300px;
    height: 40px;
    background: rgb(1, 98, 66);
    color: antiquewhite;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    transition: 0.3s linear;
}

.cos2 {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background: rgb(1, 98, 66);
    color: antiquewhite;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    transition: 0.3s linear;
}

.cos:hover, .cos2:hover {
    background: rgb(3, 160, 107);
}


/* responsywność */

@media screen and (max-width: 800px){

    .shopHeadMain {
        display: flex;
        justify-content: center;
    }
    .shop {
        display: block;
        width: 370px;
        height: 470px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 100px;
        float: none;
    }

    .cos {
        margin-top: 45px;
    }

    .cos2 {
        margin-bottom: 20px;
    }

    .cos, .cos2 {
        margin-left: auto;
        margin-right: auto;
    }

    .saveHead {
        margin-left: 0;
    }

    body {
        background: #003d30;
    }
}

/* .headingHead {
    display: flex;
    justify-content: center;
}

.heading {
    background:#002c23;
    padding: 25px;
    font-size: 20px;
    color: antiquewhite;
    border-radius: 10%;
    cursor: pointer;
    border: 10px solid #001d17;
    -webkit-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    transition: 0.5s linear;
}

.heading:hover {
    background:#001612;
}

.headingHead.hidden {
    display: none;
}

.heading.hidden {
    display: none;
}

.headingHead2.show {    
    width: 240px;
    display: block;
    margin-left: 39%;
}

.heading2.show {
    width: 240px;
    background:#002c23;
    padding: 25px;
    font-size: 20px;
    color: antiquewhite;
    border-radius: 10%;
    cursor: pointer;
    border: 10px solid #001d17;
    -webkit-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 6px 18px -1px rgba(66, 68, 90, 1);
    transition: 0.5s linear;
    display: block;
}

.heading2:hover {
    background:#001612;
}

.headingHead2 {
    display: none;
}

.heading2 {
    display: none;
} */

/* zdjęcie orka */
